.divDetail{
    background-color: rgb(29, 37, 89);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.buttonHome1{
    background-color: #6f4ef6;
    float:none;
    font-size: medium;
    font-weight: bold;
    color: #fff;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 43px;
    width: 100px;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}
.buttonHome1:hover{
    background-color: #9c86f9;
    color: #fff;
}
#home{
    margin-left: 40px
}

.name{
    color: #0bd4c1;
    padding-right: 0px;
}

.asd{
    display: inline-block;
    padding: 0;
    margin: 30px;
    font-size: medium;
}
.asd li {
    display:inline-block;
}

.image{
    height: 90%;
    max-height: 600px;
    width: 90%;
    max-width: 600px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
    border-radius: 8px;
}

.caracts{
    color: #fff;
    font-size: large;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 30px
}

.imgSpinner{
    display:grid;
    place-items: center;
    height: 600px;
}